@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  border-bottom: 1rem solid #495E57;
}

button {
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

main > section {
  margin-bottom: 5rem;
}


@layer components {
  .btn-custom {
    @apply px-4 py-2 rounded-full bg-lemon text-darkGreen font-bold border-[3px] border-lemon transition-colors duration-500 hover:bg-darkGreen hover:border-darkGreen hover:text-white focus:bg-darkGreen focus:border-darkGreen focus:text-white;
  }
}

